.axis {
  shape-rendering: crispEdges;
  fill: none;
  stroke: #666;
  stroke-width: 1px;
}

.line{
	fill: none;
  stroke: #d3f;
  stroke-width: 1px;
}

.boundary{
	fill:none;
	stroke: darkgray;
  	stroke-width: 1px;
}

.bait{
	stroke-width:1px;
	stroke:red;
}